*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

footer{

   background-color: #ff0000;
    margin-top: 25%;
    padding: 40px;
    text-align: center;
    
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('fondo.jpg');
    background-position: center;
    background-size: contain;
    align-items: center;

}
nav{

    display:  flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: white;
    font-size: 100px;
    margin-left: -100px;
}
span{
    color: #0000FF;
}
nav ul li{

    list-style-type: none;
    display: inline-block;
    padding:  20px ;
    align-items:center;
    margin-left: 80px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;


}
nav ul li a:hover{
    color: #0000FF;
    transition: .3s;
}
button{
    border: none;
    background: #0000FF;
    padding: 12px 30px;
    border-radius: 30px;
    color:  white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}
/* Desde aqui empeiza el container*/
.pdf-list {
  margin-top: 30px;
  text-align: center;
}

.pdf-list h3 {
  font-size: 18px;
}

.pdf-list ul {
  list-style: none;
  padding: 0;
}

.pdf-list ul li {
  margin-bottom: 10px;
}

.pdf-list ul li a {
  color: #000;
  text-decoration: none;
}

.pdf-list ul li a:hover {
  color: #ff0000;
  text-decoration: underline;
}


